<footer class="bg-light py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5>Salon de Beauté</h5>
                <p>Votre beauté, notre passion. Offrez-vous le meilleur soin.</p>
            </div>
            <div class="col-md-6 text-md-end">
                <ul class="list-unstyled">
                    <li><a href="#" class="text-decoration-none">Facebook</a></li>
                    <li><a href="#" class="text-decoration-none">Instagram</a></li>
                    <li><a href="#" class="text-decoration-none">Twitter</a></li>
                    <li><a href="#" class="text-decoration-none">LinkedIn</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
